# /.npmrc

# Fixes module resolution errors (like ERR_PACKAGE_PATH_NOT_EXPORTED)
# by ensuring key packages are correctly linked in the pnpm architecture.
public-hoist-pattern=@apollo/server
public-hoist-pattern=mongoose public-hoist-pattern=mongodb
